.card {
  width: 12rem;
  height: 13rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--orangeCard);
  border-radius: 20px;
}

.card span:nth-of-type(1) {
  font-weight: bold;
  color: black;
}

.card span:nth-of-type(2) {
  color: var(--gray);
  font-size: 1rem;
  text-align: center;
}

.card > img {
  transform: scale(0.6);
  margin-bottom: -2.4rem;
}

.c-button {
  background-color: #fff;
  box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  border: none;
  padding: 10px;
  color: #5290fd;
}

@media screen and (max-width: 480px) {
 .card {
  width: auto;
 }
}
