.contact-form {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* right side */

.c-right form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
}

.c-right form > :nth-child(1),
.c-right form > :nth-child(2),
.c-right form > :nth-child(3) {
    padding: 0.3rem 1.2rem;
    width: 30rem;
    border: 2px solid var(--orange);
}

.user_message {
    resize: none;
}

@media screen and (max-width: 480px) {

  .contact-form{
    flex-direction: column;
    transform: scale(0.5);
  }

  .c-right form>*{
     font-size: 2rem;
  }

}
